<div class="navbar navbar-default">
    <div class="container-fluid drag-region">
        <div class="navbar-header">
            <div class="navbar-brand">
                <strong>Open</strong>Scriptorium
            </div>
            <a class="btn navbar-btn" routerLink="/search"
               routerLinkActive="btn-primary disabled">
                <i class="glyphicon glyphicon-search"></i> Search
            </a>
            <a class="btn navbar-btn" routerLink="/runner"
               routerLinkActive="btn-primary disabled">
                <i class="glyphicon glyphicon-retweet"></i> Runner
                <span class="label label-danger" *ngIf="!!runner.count()">{{runner.count()}}</span>
            </a>
        </div>

        <a (click)="close()" class="btn close-btn">
            <div class="glyphicon glyphicon-remove"></div>
        </a>
    </div>
</div>

<template ngbModalContainer></template>
<app-notify></app-notify>

<div class="container-fluid main-container flex-container-column">
    <router-outlet></router-outlet>
</div>

