<div class="navbar navbar-default">
    <div class="container-fluid">
        <a href="#" class="navbar-brand">
            <strong>Open</strong>Scriptorium
        </a>
        <ul class="nav navbar-nav">
            <li routerLinkActive="active">
                <a routerLink="/search">
                    <i class="glyphicon glyphicon-search"></i> Search
                </a>
            </li>
            <li routerLinkActive="active">
                <a routerLink="/runner">
                    <i class="glyphicon glyphicon-retweet"></i> Runner
                    <span class="label label-danger" *ngIf="!!runner.count()">{{runner.count()}}</span>
                </a>
            </li>
        </ul>
        <div class="navbar-right">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#">
                        <i class="glyphicon glyphicon-cog"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<template ngbModalContainer></template>
<app-notify></app-notify>

<div class="container-fluid main-container flex-container-column">
    <router-outlet></router-outlet>
</div>

