<div class="row fill-relative-height">
    <div class="col-xs-4">
        <div id="process-list" class="list-group" *ngIf="hasItems()">
            <div
                class="list-group-item"
                [class.active]="selectedProcess === proc"
                (click)="selectProcess(proc)"
                *ngFor="let proc of getItems()">
                {{proc.pkg.name}}
                <div class="badge" ngbTooltip="{{proc.status|statusLabel}}">
                    <i
                        class="glyphicon"
                        [class.glyphicon-pause]="proc.status == 'queued'"
                        [class.glyphicon-save]="proc.status == 'fetching'"
                        [class.glyphicon-remove]="proc.status == 'failed'"
                        [class.glyphicon-ok]="proc.status == 'success'"
                        [class.glyphicon-repeat]="proc.status == 'running'">
                    </i>
                </div>
            </div>
        </div>
        <h4 class="text-center" *ngIf="!hasItems()">
            <i>No Processes</i>
        </h4>
    </div>
    <div class="col-xs-8 fill-relative-height">
        <div class="well well-sm well-terminal fill-relative-height">
            <ul *ngIf="selectedProcess !== null">
                <li *ngIf="!selectedProcess.lineOutputs.length"
                    class="text-center">
                    <i>no output</i>
                </li>
                <li *ngFor="let output of selectedProcess.lineOutputs"
                    [class.stderr]="output.channel == 'stderr'"
                    [class.stdout]="output.channel == 'stdout'">{{output.data}}
                </li>
            </ul>
        </div>
    </div>
</div>
