
html {
    height: 100%;
    overflow: hidden;
}

body {
    height: 100%;
    overflow: hidden;
}

.application-leader-wrapper {
    display: flex;
    position: fixed;
    background-color: #eaeaea;
    height: 100%;
    width: 100%;
    align-items: center;
    -webkit-transition: all linear 300ms;
    z-index: 500;
}

.application-leader-wrapper.loaded {
    opacity: 0;
}

@keyframes spinner {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(180deg);
    }
}

.application-leader-wrapper > .application-loader > i.glyphicon, .animation-spin{
    animation-name: spinner;
    animation-duration: 0.5s;
    -webkit-animation-iteration-count: infinite;
}

.application-loader {
    width: 64px;
    height: 64px;
    font-size: 64px;
    margin-left: auto;
    margin-right: auto;
    color: #b1b1b1;
}

.btn.close-btn {
    position: absolute;
    right: 0px;
    padding: 13px;
    top: 0px;
}

.text-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.flex-container-row {
    display: flex;
    flex-direction: row;
}

.flex-container-column {
    display: flex;
    flex-direction: column;
}

.flex-item-fill {
    flex: 1;
}

.fill-relative-height {
    height: 100%;
}

.row.fill-relative-height {
    height: calc(100% - 30px);
}

.drag-region {
    -webkit-app-region: drag;
}

.drag-region a, .drag-region button {
    -webkit-app-region: no-drag;
}
