
html {
    height: 100%;
    overflow: hidden;
}

body {
    height: 100%;
    overflow: hidden;
}

.btn.close-btn {
    position: absolute;
    right: 0px;
    padding: 13px;
    top: 0px;
}

.text-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.flex-container-row {
    display: flex;
    flex-direction: row;
}

.flex-container-column {
    display: flex;
    flex-direction: column;
}

.flex-item-fill {
    flex: 1;
}

.fill-relative-height {
    height: 100%;
}

.row.fill-relative-height {
    height: calc(100% - 30px);
}

.drag-region {
    -webkit-app-region: drag;
}

.drag-region a, .drag-region button {
    -webkit-app-region: no-drag;
}
