<div class="row">
    <div class="col-md-12">
        <input id="search-input"
               #search_term
               (keyup.enter)="onSearch(search_term.value)"
               type="text"
               class="form-control"
               placeholder="Package search ...">
    </div>
    <div class="col-md-12">
        <hr/>
    </div>
    <div class="col-md-12">
        <div *ngIf="isLoading">
            <div class="search-result-loader">
                <div class="text-center">
                    <i class="glyphicon glyphicon-refresh animation-spin"></i>
                    <div class="clearfix"></div>
                    <label>Loading</label>
                </div>
            </div>
        </div>
        <div id="search-result-list" class="list-group"
             *ngIf="result && result.packages.length && isLoading === false">
            <a *ngFor="let pkg of result.packages" href="#"
               (click)="openModal(pkg)"
               class="list-group-item">
                <h4 class="list-group-item-heading">{{pkg.name}}</h4>
                <p class="list-group-item-text">
                    {{pkg.short_description}}
                </p>
            </a>
        </div>
    </div>
</div>
